<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="flex">
        <button>
          <a href="/books">Home</a>
        </button>
        <h1>BookStore</h1>
        <button>
          <a href="/books/new">Add Book</a>
        </button>
      </div>
    </header>
  </body>
</html>
