<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p class="indexP">Welcome to <%= title %> 👉</p>
    </header>
    <div class="index">
      <button>
        <a href="/books"> Go to bookStore </a>
      </button>
    </div>
  </body>
</html>
