body {
  margin: 0 auto;
  line-height: 1.5;
  padding: 10px 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 40px;
  background-color: blanchedalmond;
  margin: -10px -50px 0 -50px;
}

main {
  margin: 25px 0;
  border-radius: 10px;
  padding: 25px 40px;
  border: 3px solid wheat;
}

button {
  display: inline-block;
  margin: 10px;
  border: 1px solid;
  font-weight: 800;
  padding: 6px 1rem;
  border-radius: 5px;
  background-color: #57caf7;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indexP {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1rem;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline green;
}

form {
  border: 3px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

span {
  font-size: 1.1rem;
  color: brown;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

input,
textarea {
  width: 92%;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 5px;
}

button[type='submit'] {
  background-color: #57caf7;
  border: none;
  display: inline-block;
  border: 1px solid;
  margin: 2% 0 2% 40%;
  font-weight: 800;
  padding: 6px 1.2rem;
  border-radius: 4px;
}

button:hover {
  border: 1px solid lightcoral;
}

.show {
  background-color: brown;
}

.edit {
  background-color: rgb(12, 145, 198);
}

.delete {
  background-color: red;
}

.like {
  background-color: green;
}

.index {
  text-align: center;
}

small {
  border-radius: 5px;
  color: white;
  padding: 6px 1rem;
}

footer {
  padding: 20px 0;
  margin: 0 -50px;
  place-content: center;
  display: flex;
  background-color: rgb(150, 106, 40);
}
